.app {
  background-image: url("https://wallpaperaccess.com/full/128139.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
}


.header {
color: black;
text-align: center;
font-family: 'Permanent Marker', cursive;
background: url('https://images.squarespace-cdn.com/content/548f6ec1e4b0ccccd2f1c61b/1524284179055-1VKY69UY6NRDDPSMK6DX/bb2.gif?content-type=image%2Fgif')no-repeat center; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover;
width: 100%;
font-size: 25px;
}

#header-link {
color:black;
font-size: 30px;
}

h1{
  color: black;
}

#navimg {
  position: relative;
  width: 100%;
  height: 200px;
}

.team-container{
  border-top: 6px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams{
  text-align: center;
  margin: 20px;
  width: 15%;
  height: 200px;
  background-color:transparent;
  opacity: 0.7;
  /* border: 1px solid purple; */
  margin: 30px auto;
}

.teams:hover{
  background: grey;
}

.teamimg {
  size: 100%;
}

/* .teamimg:hover {
  background-color: red;
} */

button { 
  background-color: red;
  /* border: 1px solid blue; */
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 6px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.playersimg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.players{
  display: flex;
  justify-content: center;
  border:solid grey;
  margin: 20px;
  background-color:grey;
  opacity: 0.9;
  border-radius: 25%;
}


.players-center {
  display: grid;
  grid-template-rows: max-content;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: black;
  color: black;
  width: 100%;
  height: 70px;
  background: url('http://getwallpapers.com/wallpaper/full/2/5/e/293807.jpg');
  
}

.footer p {
  text-align: center;
}

 img {
  width: 150px;
  height: 150px;

 }

 players {
  display: flex;
 }

 .playersimg2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
 }

.stats {
  color:white; 
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 6px;
  border-block-color: black;
  background-color: black;

}

#profilepic img {
  height: 800px;
  width: 800px;
  text-align: center;
}
#profilepic {
  text-align: center;
}

body {
  margin: 0;
}
#profile-page {
  display: flex;
  min-height: 89vh;
  padding-top: 20px;
}
h1 {
  margin-block-start: auto;
}

p {
 font-size: 18px;
 padding-top: 30px;
}


